.card-modal-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10%;
}

.card-modal-description {
  display: block;
  height: auto;
  margin-bottom: 10%;
}

.card-modal-comments {
  margin-bottom: 10%;
}
